  <!-- FOOTER -->  
    <footer>
      <div class="footerinner wrapper align-center text-light">
        <a id="backtotop" href="#" class="sr-button sr-buttonicon small-iconbutton"><i class="fa fa-angle-up"></i></a>
              {#
                  <ul class="socialmedia-widget social-share">
                    <li class="facebook"><a href="#">Facebook</a></li>
                    <li class="twitter"><a href="#">Tweet</a></li>
                    <li class="linkedin"><a href="#">Google Plus</a></li>
                    <li class="dribbble"><a href="#">Dribble</a></li>
                    <li class="behance"><a href="#">Behance</a></li>
                    <li class="instagram"><a href="#">Instagram</a></li>
                  </ul>
                #}
                <p class="copyright">Copyright &copy; 2014 - DragonIT</p>
            </div>
      </footer>
        <!-- FOOTER -->         
        
  </div> <!-- END .page-body -->
  <!-- PAGEBODY -->
    
</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->


<!-- SCRIPTS -->
<script type='text/javascript' src='/bundles/replaycreativesite/theme/files/js/retina.js'></script>
<script type='text/javascript' src='/bundles/replaycreativesite/theme/files/js/jquery.easing.1.3.js'></script>
<script type='text/javascript' src='/bundles/replaycreativesite/theme/files/js/jquery.easing.compatibility.js'></script>
<script type='text/javascript' src='/bundles/replaycreativesite/theme/files/js/jquery.visible.min.js'></script>
<script type='text/javascript' src='/bundles/replaycreativesite/theme/files/js/jquery.easy-opener.min.js'></script>
<script type='text/javascript' src='/bundles/replaycreativesite/theme/files/js/jquery.flexslider.min.js'></script>
<script type='text/javascript' src='/bundles/replaycreativesite/theme/files/js/jquery.isotope.min.js'></script>
<script type='text/javascript' src='/bundles/replaycreativesite/theme/files/js/jquery.bgvideo.min.js'></script>
<script type='text/javascript' src='/bundles/replaycreativesite/theme/files/js/jquery.fitvids.min.js'></script>
<script type='text/javascript' src='/bundles/replaycreativesite/theme/files/jplayer/jquery.jplayer.min.js'></script>
<script type="text/javascript" src="/bundles/replaycreativesite/theme/files/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="/bundles/replaycreativesite/theme/files/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type='text/javascript' src='/bundles/replaycreativesite/theme/files/js/jquery.parallax.min.js'></script>
<script type='text/javascript' src='/bundles/replaycreativesite/theme/files/js/jquery.counter.min.js'></script>
<script type='text/javascript' src='/bundles/replaycreativesite/theme/files/js/jquery.scroll.min.js'></script>
<script type='text/javascript' src='/bundles/replaycreativesite/theme/files/js/xone-header.js'></script>
<script type='text/javascript' src='/bundles/replaycreativesite/theme/files/js/xone-loader.js'></script>
<script type='text/javascript' src='/bundles/replaycreativesite/theme/files/js/xone-form.js'></script>
<script type='text/javascript' src='/bundles/replaycreativesite/theme/files/js/script.js'></script>
<!-- SCRIPTS -->
<style>
div.more {
  display: inline-block;
  display: none;
}
</style>
<script type="text/javascript">
$('a.seemore').click(function() {
  $(this).hide();
  $(this).parent().parent().find('.more').fadeIn();
});
$('a.seeless').click(function() {
  $(this).parent().hide();
  $(this).parent().parent().find('.seemore').show();
});
</script>

</body>
</html>
