<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
<head>

<!-- DEFAULT META TAGS -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Creative Software Solutions | DragonIT</title>
    <meta name="description" content="DragonIT is an NYC-based agency offering complete application development, integration and design solutions. We specialize in simplifying complex technical projects to deliver outstanding results.">
        <meta name="keywords" content="web development, application development, augmented reality development, custom crm, custom ecommerce, symfony2 development, replay creative, anthony martin, web design, systems integration">

<!-- DEFAULT META TAGS -->

<!-- FONTS -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,800,600|Raleway:300,600,900' rel='stylesheet' type='text/css'>
<!-- FONTS -->

<!-- CSS -->
<link rel='stylesheet' id='default-style-css'  href='/bundles/replaycreativesite/theme/files/css/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='flexslider-style-css'  href='/bundles/replaycreativesite/theme/files/css/flexslider.css' type='text/css' media='all' />
<link rel='stylesheet' id='easy-opener-style-css'  href='/bundles/replaycreativesite/theme/files/css/easy-opener.css' type='text/css' media='all' />
<link rel='stylesheet' id='jplayer-style-css'  href='/bundles/replaycreativesite/theme/files/jplayer/jplayer.css' type='text/css' media='all' />
<link rel='stylesheet' id='isotope-style-css'  href='/bundles/replaycreativesite/theme/files/css/isotope.css' type='text/css' media='all' />
<link rel="stylesheet" id='rsplugin-style-css' href="/bundles/replaycreativesite/theme/files/rs-plugin/css/settings.css" type="text/css" media="all" />
<link rel="stylesheet" id='fontawesome-style-css' href="/bundles/replaycreativesite/theme/files/css/font-awesome.min.css" type="text/css" media="all" />
<link rel='stylesheet' id='retina-style-css'  href='/bundles/replaycreativesite/theme/files/css/retina.css' type='text/css' media='all' />
<link rel='stylesheet' id='mqueries-style-css'  href='/bundles/replaycreativesite/theme/files/css/mqueries.css' type='text/css' media='all' />
<!-- CSS -->

<!-- FAVICON -->
<link rel="shortcut icon" href="/bundles/replaycreativesite/theme/files/images/favicon2.png"/>
<link rel="image_src" href="http://replaycreative.com/bundles/replaycreativesite/images/replaycreativelogo.png" />
<!-- FAVICON -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
<script type='text/javascript' src='/bundles/replaycreativesite/js/ng/script.js'></script>

<!-- JQUERY LIBRARY & MODERNIZR -->
<script src="/bundles/replaycreativesite/theme/files/js/jquery-1.9.1.min.js"></script>
<script src='/bundles/replaycreativesite/theme/files/js/jquery.modernizr.min.js'></script>
<!-- JQUERY LIBRARY & MODERNIZR -->

</head>

<body ng-app="rc"> 
{% if app.environment == 'prod' %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39369222-2', 'replaycreative.com');
  ga('send', 'pageview');

</script>
{% endif %}

<!-- PAGELOADER -->
<div id="page-loader">
  <div class="page-loader-inner">
      <div class="loader-logo"><img src="/bundles/replaycreativesite/images/replaycreativelogo.png" alt="DragonIT Logo"/></div>
    <div class="loader-icon"><span class="spinner"></span><span></span></div>
  </div>
</div>
<!-- PAGELOADER -->

<!-- PAGE CONTENT -->
<div id="page-content" class="fixed-header">

  <!-- HEADER -->
  <header id="header" class="header-overlay">        
    <div class="header-inner wrapper clearfix">
                            
      <div id="logo" class="left-float">
        <a href="/"><img src="/bundles/replaycreativesite/images/replaycreativelogo.png" alt="DragonIT Logo"/></a>
      </div>    
            
      <div class="menu right-float clearfix">
            <nav id="main-nav">
                <ul>
                    <li class="current-menu-item"><a href="#home" class="scroll-to">Home</a></li>
                    <li><a href="#about" class="scroll-to">About</a></li>
                    <li><a href="#service" class="scroll-to">Services</a></li>
                    <li><a href="#portfolio" class="scroll-to">Portfolio</a></li>
                    <li><a href="#team" class="scroll-to">Team</a></li>
                    <li><a href="#contact" class="scroll-to">Contact</a></li>
          </ul>
        </nav>
      </div>
                    
    </div> <!-- END .header-inner -->
  </header> <!-- END header -->
  <!-- HEADER -->    
    
  <!-- PAGEBODY -->
  <div class="page-body" ng-controller="PageCtrl">