/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
#slider img {height: 372px;margin: 0 auto;width: auto;}
ul.bjqs-controls{list-style:none;margin:0 auto;padding:0;z-index:105;width: 827px;position: relative;display: block;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li a img {background: none !important;width: 32px;height: 10px;}
#slider ul.bjqs-controls.v-centered li.bjqs-next a{right:23px;z-index: 102;top: -18px !important;}
#slider ul.bjqs-controls.v-centered li.bjqs-prev a{left:23px;z-index: 102;top: -18px !important;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:100%;margin:0;position:absolute;bottom:3px;text-align: center;color: #bbb;z-index:102;font-style: italic;font-size: 14px;}

#client img {height: 200px;width: 323px;margin: 0 auto;}
#client ul.bjqs-controls.v-centered li.bjqs-next a{right: 0px;top: -30px !important;}
#client ul.bjqs-controls.v-centered li.bjqs-prev a{right: 31px;top: -30px !important;}
#client ul.bjqs-controls{list-style:none;margin:0 auto;padding:0;z-index:9999;width: 323px;position: relative;display: block;}
#client p.bjqs-caption{
	display: block;
	width: 77%;
	margin: 0;
	position: absolute;
	bottom: 0px;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.38);
	z-index: 102;
	font-style: italic;
	font-size: 12px;
	padding: 5px;
}

#post-slider {width: 100% !important;}
#post-slider img {width: 100% !important;margin: 0 auto;}
#post-slider ul.bjqs-controls.v-centered li.bjqs-next a{right: 0px;top: -30px !important;}
#post-slider ul.bjqs-controls.v-centered li.bjqs-prev a{right: 31px;top: -30px !important;}
#post-slider ul.bjqs-controls{list-style:none;margin:0 auto;padding:0;z-index:9999;width: 100% !important;position: relative;display: block;}
#post-slider p.bjqs-caption{
	display: block;
	width: 89.2%;
	margin: 0;
	position: absolute;
	bottom: 0px;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.38);
	z-index: 0;
	font-style: italic;
	font-size: 12px;
	padding: 5px;
}

.arrowes li.bjqs-next a{right:23px;top: -18px !important;}
.arrowes li.bjqs-prev a{left:23px;top: -18px !important;}