/********* Basic jQuery Slider *********/
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
#slider-basic img {height: 372px;margin: 0 auto;width: auto;}
ul.bjqs-controls{list-style:none;margin:0 auto;padding:0;z-index:105;width: 827px;position: relative;display: block;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li a img {background: none !important;width: 32px;height: 10px;}
#slider-basic ul.bjqs-controls.v-centered li.bjqs-next a{right:23px;z-index: 102;top: -18px !important;}
#slider-basic ul.bjqs-controls.v-centered li.bjqs-prev a{left:23px;z-index: 102;top: -18px !important;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:100%;margin:0;position:absolute;bottom:3px;text-align: center;color: #bbb;z-index:102;font-style: italic;font-size: 14px;}

#client img {height: 200px;width: 323px;margin: 0 auto;}
#client ul.bjqs-controls.v-centered li.bjqs-next a{right: 0px;top: -30px !important;}
#client ul.bjqs-controls.v-centered li.bjqs-prev a{right: 31px;top: -30px !important;}
#client ul.bjqs-controls{list-style:none;margin:0 auto;padding:0;z-index:9999;width: 323px;position: relative;display: block;}
#client p.bjqs-caption{
	display: block;
	width: 77%;
	margin: 0;
	position: absolute;
	bottom: 0px;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.38);
	z-index: 102;
	font-style: italic;
	font-size: 12px;
	padding: 5px;
}
#post-slider {width: 100% !important;}
#post-slider img {width: 100% !important;margin: 0 auto;}
#post-slider ul.bjqs-controls.v-centered li.bjqs-next a{right: 0px;top: -30px !important;}
#post-slider ul.bjqs-controls.v-centered li.bjqs-prev a{right: 31px;top: -30px !important;}
#post-slider ul.bjqs-controls{list-style:none;margin:0 auto;padding:0;z-index:9999;width: 100% !important;position: relative;display: block;}
#post-slider p.bjqs-caption{
	display: block;
	width: 89.2%;
	margin: 0;
	position: absolute;
	bottom: 0px;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.38);
	z-index: 0;
	font-style: italic;
	font-size: 12px;
	padding: 5px;
}
.arrowes li.bjqs-next a{right:23px;top: -18px !important;}
.arrowes li.bjqs-prev a{left:23px;top: -18px !important;}

/********* jQuery FlexSlider v1.8 *********/
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {border: 10px solid white; position: relative; zoom: 1;height: 372px; width: 1044px;margin: 0 auto;}
.flexslider img {height: 372px; width: 1044px;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {width: 96%; padding: 2%; margin: 0; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px;}

/* Direction Nav */
.flex-direction-nav { height: 0; }
.flex-direction-nav li a {width: 52px; height: 50px; margin: -13px 0 0; display: block; background: url(../images/bg_direction_nav.png) no-repeat; position: absolute; bottom: 20px; cursor: pointer; text-indent: -999em;}
.flex-direction-nav li .next {background-position: -52px 0; right: -20px;}
.flex-direction-nav li .prev {left: -20px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -50px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 14px; height: 14px; display: block; background: url(../images/bg_control_nav.png) no-repeat; cursor: pointer; text-indent: -999em;}
.flex-control-nav li a:hover {background-position: 0 -14px;}
.flex-control-nav li a.active {background-position: 0 -28px; cursor: default;}


/********* jQuery Lightbox *********/
#lightboxOverlay {
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 9999;
	  background-color: black;
	  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
	  opacity: 0.85;
	  display: none;
}
#lightbox {
	  position: absolute;
	  left: 0;
	  width: 100%;
	  z-index: 10000;
	  text-align: center;
	  line-height: 0;
	  font-weight: normal;
}
#lightbox img {
	  width: auto;
	  height: auto;
}
#lightbox a img {
  	  border: none;
}
.lb-outerContainer {
	  position: relative;
	  background-color: white;
	  *zoom: 1;
	  width: 250px;
	  height: 250px;
	  margin: 0 auto;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  -ms-border-radius: 4px;
	  -o-border-radius: 4px;
	  border-radius: 4px;
}
.lb-outerContainer:after {
	  content: "";
	  display: table;
	  clear: both;
}
.lb-container {
	padding: 10px;
}
.lb-loader {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  height: 25%;
	  width: 100%;
	  text-align: center;
	  line-height: 0;
}
.lb-nav {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 100%;
	  z-index: 10;
}

.lb-container > .nav {
	left: 0;
}
.lb-nav a {
	outline: none;
}
.lb-prev, .lb-next {
	  width: 49%;
	  height: 100%;
	  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
	  /* Trick IE into showing hover */
	  display: block;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
.lb-prev {
	  left: 0;
	  float: left;
}
.lb-next {
	  right: 0;
	  float: right;
}
.lb-prev:hover {
	background: url(../images/lightbox/prev.png) left 48% no-repeat;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
.lb-next:hover {
	background: url(../images/lightbox/next.png) right 48% no-repeat;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
.lb-dataContainer {
	  margin: 0 auto;
	  padding-top: 5px;
	  *zoom: 1;
	  width: 100%;
	  -moz-border-radius-bottomleft: 4px;
	  -webkit-border-bottom-left-radius: 4px;
	  -ms-border-bottom-left-radius: 4px;
	  -o-border-bottom-left-radius: 4px;
	  border-bottom-left-radius: 4px;
	  -moz-border-radius-bottomright: 4px;
	  -webkit-border-bottom-right-radius: 4px;
	  -ms-border-bottom-right-radius: 4px;
	  -o-border-bottom-right-radius: 4px;
	  border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
	  content: "";
	  display: table;
	  clear: both;
}
.lb-data {
	  padding: 0 10px;
	  color: #bbbbbb;
}
.lb-data .lb-details {
	  width: 85%;
	  float: left;
	  text-align: left;
	  line-height: 1.1em;
}
.lb-data .lb-caption {
	  font-size: 13px;
	  font-weight: bold;
	  line-height: 1em;
}
.lb-data .lb-number {
	  display: block;
	  clear: left;
	  padding-bottom: 1em;
	  font-size: 11px;
}
.lb-data .lb-close {
	  width: 35px;
	  float: right;
	  padding-bottom: 0.7em;
	  outline: none;
}
.lb-data .lb-close:hover {
	cursor: pointer;
}


/********* jQuery Superfish *********/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			172px; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left: 0px;
	z-index:	 999;
	top: 19px;
	padding-top: 36px;
}
.sf-menu li:hover ul li ul,
.sf-menu li.sfHover ul li ul, 
.sf-menu li:hover ul li ul li ul,
.sf-menu li.sfHover ul li ul li ul  {
	left:		20px;
	z-index:		999;
	top: 19px;
	padding-top: 0;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			173px; /* match ul width */
	top:			-1px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			172px; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
	float:			left;
	margin-bottom:	1em;
}

.sf-menu li li {
	background:		#282828;
}
.sf-menu li li li {
	background:		#282828;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	
	outline:		0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			8px;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.6em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

ul.sf-menu li ul li:first-child {
	border-top:1px solid #fd7f67;
}
ul.sf-menu li ul li ul li:first-child {
	border-top: 0px solid #fd7f67;
}
ul.sf-menu li ul li a {
	color: white;
	padding: 10px 16px !important;
	font-weight: normal !important;
	font-size: 13px !important;
	background: none;
	border-radius: 0 !important;
}
ul.sf-menu li ul li a:hover {
	background: #fd7f67 !important;
}
ul.sf-menu li ul li {
	padding: 0 !important;
	margin: 0 !important;
}
.sf-menu li:hover > a {
	background: rgba(0, 0, 0, 0.30);
}


/* fix firefox margin affecting body */
.tt-col.services,
.tt-col.contact-page {
  margin: 0 auto 64px;
  padding-top: 64px;
}

.post h3 a {
  font-size: 170%;
  line-height: 180%;  
  
}
.post p {
    font-size: 160%;
    line-height: 170%;
    margin-bottom: 32px;
    margin-top: 6%;
}

.author-row p {
    font-size: 115%;
    margin-top: 2%; 
}

p.success_notice {
  text-align: center;	
}
ul.blog-posts .entry-meta {
  background: none;
  padding-left: 0px;
}
.post-footer ul {
width: 100%;
}
.post-footer a.more {
  margin-top: 7px;
}
code {
display: inline;
}
.syntaxhighlighter .toolbar {
background: none;
}
