ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ul.bjqs-controls.v-centered li a{
	display:block;
	color:#000;
	width: 32px;
	height: 10px;
	background: transparent url() no-repeat center;
	text-decoration: none;
}
#client ul.bjqs-controls.v-centered li a{
	height: auto;
	width: auto;
}
.arrowes li a{
	display:block;
	color:#000;
	width: 32px;
	height: 10px;
	padding-left:20px;
	padding-right:20px;
	background: transparent url() no-repeat center;
	text-decoration: none;
}
#post-slider ul.bjqs-controls.v-centered li a{
	height: auto;
	width: auto;
}
ul.blog-posts .thumb ul li img, ul.blog-posts .thumb img, .show-comments ul li .thumb img {
	display: block;
	height: auto !important;
	width: auto !important;
}
.pricing_table > li {
	background: #666;
}


